name: release

on:
  release:
    types: [created]

permissions:
  contents: write
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # run CI checks before deploying
      - run: make
      - run: make test

      # clean previous build
      - run: make clean

  cd:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: build release binary
        run: make release

      - name: prepare release artifacts
        run: cp build/main dummydb-${{ github.ref_name }}

      - name: upload release artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dummydb-${{ github.ref_name }}
            LICENSE

      - name: set image name
        env:
          IMAGE_NAME: ${{ github.repository }}
        run: echo "IMAGE_NAME=${IMAGE_NAME,,}" >> $GITHUB_ENV

      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
            ghcr.io/${{ env.IMAGE_NAME }}:latest
